@tailwind base;
@tailwind components;
@tailwind utilities;

.isLoading {
    background-color: white;
    color:white;
}

.isLoading::before {
    background-color: black;
    mix-blend-mode: normal;
}



/* 

* moving organisms 

Layers for blend mode Difference one basisc element for our visual styling

Create two boxes over eachother 
- Difference layout text color adapts to background color automatically 


*/